{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["standard-with-typescript", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "rules": {
    "prettier/prettier": "off",
    "no-redeclare": "off",
    "import/export": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-undef": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/comma-spacing": "off",
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/method-signature-style": "warn"
  }
}
